<li>
	{{name}}

	<button class="devourIt" data-id="{{id}}" data-devour="{{devour}}">
		{{#if devour}}Devour It!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>